<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ 'change_password_detail' | translate }}
      <small>{{ 'control_panel' | translate }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-cogs"></i> {{ 'admin' | translate }}</a></li>
      <li class="active">{{ 'user' | translate }}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">{{ 'change_password_detail' | translate }}</h3>
		</div>
		<!-- /.box-header -->
		
		<div class="box-body">
			<div class="row">
			<div class="col-md-6 offset-md-3">
				<form [formGroup]="changePassForm" autocomplete="off">
					<input type="hidden" [(ngModel)]="csrfNonce" formControlName="csrfNonce"/>
					<div class="form-group">
						<label>{{ 'old_password' | translate }} <b><font color = "red">*</font></b> </label>
						<input type="password" [(ngModel)]="oldPassword" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" autocomplete="off" />
						<div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
							<div *ngIf="f.oldPassword.errors.required" class="required-field">{{ 'old_password' | translate }} {{'is_required' | translate }}</div>
						</div>
					</div>
					
					<div class="form-group">
						<label>{{ 'new_password' | translate }}<b><font color = "red">*</font></b></label>
						<input type="password" [(ngModel)]="newPassword" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" autocomplete="off" />
						<div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
							<div *ngIf="f.newPassword.errors.required" class="required-field">{{ 'new_password' | translate }} {{'is_required' | translate }}</div>
						</div>
					</div>
					<div class="form-group">
						<label>{{ 'new_confirmPassword' | translate }}<b><font color = "red">*</font></b></label>
						<input type="password" [(ngModel)]="confirmPassword" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" autocomplete="off" />
						<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
							<div *ngIf="f.confirmPassword.errors.required" class="required-field">{{ 'new_confirmPassword' | translate }} {{'is_required' | translate }}</div>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" (click)="onSubmit()">Save</button>
					</div>	
				</form>
			</div>
		</div>
		</div>
	</div>
  </section>
</div>