<!-- main app container -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ 'automationscheduler' | translate }}
      <small>{{ 'control_panel' | translate }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-cogs"></i> {{ 'home' | translate }}</a></li>
      <li class="active">{{ 'automationscheduler' | translate }}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">{{ 'automationscheduler_detail' | translate }}</h3>
		</div>
		<!-- /.box-header -->
		
		<div class="box-body">		
			<app-alert></app-alert>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<form [formGroup]="automationschedulerdetailForm" autocomplete="off">
						<input type="hidden" [(ngModel)]="automationscheduler.csrfNonce" formControlName="csrfNonce"/>

						<div class="form-group">
							<label>{{ 'automationwiseschedulerconfiguration_automationName' | translate }}</label>
							<!-- <input type="text" [(ngModel)]="automationwiseschedulerconfiguration.automationName" formControlName="automationName" class="form-control" [ngClass]="{ 'is-invalid': isFormCheckRequired && f.automationName.errors }" autocomplete="off" /> -->
							<select formControlName="automationName"  [(ngModel)]="automationscheduler.automationName" (change)="getAutomationId($event.target.value)" class="form-control	form-control-inline">
								<option value="">{{ 'dropdown_none_text' | translate }}</option>
								<option *ngFor="let automation of automationitems" value={{automation.automationName}}>
									{{automation.automationName}}
								</option>
							</select>
							<div *ngIf="isFormCheckRequired && f.automationName.errors" class="invalid-feedback">
								<div *ngIf="f.automationName.errors.required">{{ 'automationwiseschedulerconfiguration_automationName' | translate }} {{'is_required' | translate }}</div>
							</div>
						</div>
						<div class="form-group">
							<label>{{ 'automationwiseschedulerconfiguration_automationId' | translate }}</label>
							<input type="text" readonly [(ngModel)]="automationscheduler.automationId" formControlName="automationId" class="form-control" [ngClass]="{ 'is-invalid': isFormCheckRequired && f.automationId.errors }" autocomplete="off" />
							<div *ngIf="isFormCheckRequired && f.automationId.errors" class="invalid-feedback">
								<div *ngIf="f.automationId.errors.required">{{ 'automationwiseschedulerconfiguration_automationId' | translate }} {{'is_required' | translate }}</div>
							</div>
						</div>
					<div class="form-group">
						<label>{{ 'automationscheduler_automationSchedularName' | translate }}</label>
						<input type="text" [(ngModel)]="automationscheduler.automationSchedularName" formControlName="automationSchedularName" class="form-control"  autocomplete="off" />
						<div *ngIf="isFormCheckRequired && f.automationSchedularName.errors" class="invalid-feedback">
							<div *ngIf="f.automationSchedularName.errors.required">{{ 'automationscheduler_automationSchedularName' | translate }} {{'is_required' | translate }}</div>
						</div>
					</div>
						<div class="form-group">
							<label>{{ 'automationscheduler_minute' | translate }}</label>
							<!--						<input type="text" [(ngModel)]="automationscheduler.minute" formControlName="minute" class="form-control"  autocomplete="off" />-->
							<select formControlName="minute" [(ngModel)]="automationscheduler.minute" class="form-control	form-control-inline">
								<option *ngFor="let summary of aut_min" value={{summary}}>
									{{summary}}
								</option>
							</select>
						</div>
						<div class="form-group">
							<label>{{ 'automationscheduler_hour' | translate }}</label>
							<!--						<input type="text" [(ngModel)]="automationscheduler.hour" formControlName="hour" class="form-control"  autocomplete="off" />-->
							<select formControlName="hour" [(ngModel)]="automationscheduler.hour" class="form-control	form-control-inline">
								<option *ngFor="let summary of aut_hour" value={{summary}}>
									{{summary}}
								</option>
							</select>
						</div>
					<div class="form-group">
						<label>{{ 'automationscheduler_day' | translate }}</label>
<!--						<input type="text" [(ngModel)]="automationscheduler.day" formControlName="day" class="form-control"  autocomplete="off" />-->
						<select formControlName="day" [(ngModel)]="automationscheduler.day" class="form-control	form-control-inline">
							<option *ngFor="let summary of aut_day" value={{summary}}>
								{{summary}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>{{ 'automationscheduler_month' | translate }}</label>
<!--						<input type="text" [(ngModel)]="automationscheduler.month" formControlName="month" class="form-control"  autocomplete="off" />-->
						<select formControlName="month" [(ngModel)]="automationscheduler.month" class="form-control	form-control-inline">
							<option *ngFor="let summary of aut_month" value={{summary}}>
								{{summary}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>{{ 'automationscheduler_year' | translate }}</label>
<!--						<input type="text" [(ngModel)]="automationscheduler.year" formControlName="year" class="form-control"  autocomplete="off" />-->
						<select formControlName="year" [(ngModel)]="automationscheduler.year" class="form-control	form-control-inline">
							<option *ngFor="let summary of aut_year" value={{summary}}>
								{{summary}}
							</option>
						</select>
					</div>


<!--					<div class="form-group">-->
<!--						<label>{{ 'automationscheduler_second' | translate }}</label>-->
<!--&lt;!&ndash;						<input type="text" [(ngModel)]="automationscheduler.second" formControlName="second" class="form-control"  autocomplete="off" />&ndash;&gt;-->
<!--						<select formControlName="second" [(ngModel)]="automationscheduler.second" class="form-control	form-control-inline">-->
<!--							<option *ngFor="let summary of aut_sec" value={{summary}}>-->
<!--								{{summary}}-->
<!--							</option>-->
<!--						</select>-->
<!--					</div>-->
					<div class="form-group">
						<label>{{ 'automationscheduler_isRunning' | translate }}</label><br/>
						<input type="checkbox" [(ngModel)]="automationscheduler.isRunning" formControlName="isRunning"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'automationscheduler_sendReport' | translate }}</label><br/>
						<input type="checkbox" [(ngModel)]="automationscheduler.sendReport" formControlName="sendReport"  autocomplete="off" />
					</div>
					<div class="form-group">
						<label>{{ 'automationscheduler_sendNotifications' | translate }}</label><br/>
						<input type="checkbox" [(ngModel)]="automationscheduler.sendNotifications" formControlName="sendNotifications" autocomplete="off" />
					</div>

					<div class="form-group">
						<label>{{ 'automationscheduler_sendDailyReport' | translate }}</label><br/>
						<input type="checkbox" [(ngModel)]="automationscheduler.sendDailyReport" formControlName="sendDailyReport" autocomplete="off" />
					</div>

					<div class="form-group">
						<label>{{ 'automationscheduler_sendWeeklyReport' | translate }}</label><br/>
						<input type="checkbox" [(ngModel)]="automationscheduler.sendWeeklyReport" formControlName="sendWeeklyReport" autocomplete="off" />
					</div>

					<div class="form-group">
						<label>{{ 'automationscheduler_sendMonthlyReport' | translate }}</label><br/>
						<input type="checkbox" [(ngModel)]="automationscheduler.sendMonthlyReport" formControlName="sendMonthlyReport" autocomplete="off" />
					</div>

						
						<div *ngIf="automationscheduler.componentId < 0" class="form-group">
							<button class="btn btn-primary" [disabled]="isSubmitted" (click)="onSubmit()"><i class="fa fa-save"></i> {{ 'btn_save_text' | translate }}</button>
						</div>
						
						<div *ngIf="automationscheduler.componentId >= 0" class="form-group">
							<button class="btn btn-primary" [disabled]="isSubmitted" (click)="onSubmit()"><i class="fa fa-save"></i> {{ 'btn_save_text' | translate }}</button>
							&nbsp;
							<button class="btn btn-primary" [disabled]="isSubmitted" (click)="onDelete()"><i class="fa fa-remove"></i> {{ 'btn_delete_text' | translate }}</button>
						</div>
					</form>
					<button class="btn btn-primary" (click)="goBack()"><i class="fa fa-arrow-left"></i> {{ 'btn_go_back_text' | translate }}</button>				
				</div>
			</div>
		</div>
	</div>
	
  </section>
</div>
