<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ 'audittrail' | translate }}
      <small>{{ 'control_panel' | translate }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-cogs"></i> {{ 'home' | translate }}</a></li>
      <li class="active">{{ 'audittrail' | translate }}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
	<app-audittrailgrid></app-audittrailgrid>
  </section>
</div>

