<div class="box">
	<div class="box-header">
		<h3 class="box-title">{{ 'automationwiseschedulerconfiguration_list' | translate }}</h3>
	</div>
	<!-- /.box-header -->
	
	<div class="box-body">
		<div class="form-group">
			<button class="btn btn-primary" (click)="onAddAutomationwiseschedulerconfiguration()"><i class="fa fa-plus"></i> {{ 'btn_add_text' | translate }}</button> 
			&nbsp;
			&nbsp;
			<input type="text" name="uniqueCode" [(ngModel)]="automationwiseschedulerconfiguration.uniqueCode"/>
			&nbsp;
			<button class="btn btn-primary" (click)="searchByParams()"><i class="fa fa-search-plus"></i> {{ 'btn_search_text' | translate }}</button>
			
		</div>
		<div style="width: 100%;">
			<ag-grid-angular #agGrid style="width: 100%; height: 300px;" class="ag-theme-balham"
						 [gridOptions]="gridOptions">
			</ag-grid-angular>
		</div>
	</div>
	
</div>
